<div class="home_container">
	<app-card
		gameCover="assets/bt-1.jpg"
		ProductInfoLabel="Exclusive"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 149,90"
	></app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		ProductInfoLabel="Promotional"
		gameType="DISC | PS5"
		gamePrice="R$ 89,90"
	></app-card>
    <app-card
		gameCover="assets/bt-hardline.jpg"
		ProductInfoLabel="Promotional"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 89,90"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		ProductInfoLabel="Exclusive"
		gameType="DISC | PS5"
		gamePrice="R$ 149,90"
	></app-card>
    <app-card
		gameCover="assets/bt-5.jpg"
		ProductInfoLabel="Promotional"
		gameType="DISC | PS5"
		gamePrice="R$ 89,90"
	></app-card>
    <app-card
		gameCover="assets/ac-cover.jpg"
		ProductInfoLabel="Exclusive"
		gameType="DISC | PS5"
		gamePrice="R$ 149,90"
	></app-card>
</div>
